.gutenberg {
  > p {
    @apply content-text mb-[1rem] lg:mb-6;
  }

  > .wp-block-image {
    @apply my-[2.5rem];

    img {
      border-radius: 0.5rem;
    }

    .wp-element-caption {
      @apply text-white-70;
    }
  }

  .is-layout-flex {
    display: flex;
    flex-wrap: wrap;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @apply mb-[1rem] mt-[2rem] lg:mb-6 lg:mt-[2.5rem];
  }

  > h1 {
    @apply content-title-h1;
  }

  > h2 {
    @apply content-title-h2;
  }

  > h3 {
    @apply content-title-h3;
  }

  > h4 {
    @apply content-title-h4;
  }

  > h5 {
    @apply content-title-h5;
  }

  > h6 {
    @apply content-title-h6;
  }

  a {
    @apply font-bold relative duration-500;

    &:after {
      content: "";
      @apply w-full h-[0.125rem] bg-primary flex absolute bottom-0 left-0 duration-500;
    }

    &:hover {
      @apply text-gray-900;

      &:after {
        @apply h-full;
        z-index: -1;
      }
    }
  }

  > .wp-block-list {
    @apply list-disc my-[1.875rem] lg:my-[2.5rem] ps-[2.5rem] lg:ps-[3.75rem];

    > li {
      @apply content-text;
    }
  }

  > .wp-block-quote {
    @apply my-[2rem] border-s-[0.625rem] border-primary lg:my-[2.5rem];

    > p {
      @apply text-white-70 content-title-h3 uppercase;
    }
  }

  .slider {
    @apply mt-8 lg:mt-10;
    margin-bottom: 3rem !important;

    .slick-slide {
      padding: 0 0.625rem;
      transition: transform 0.3s ease;

      img {
        @apply h-auto rounded-[0.2075rem] lg:rounded-[0.5rem];

        width: 100% !important;
      }
    }

    .slick-arrow {
      background-color: transparent;
      padding: 0;

      &.slick-prev {
        @apply left-[-1.375rem] md:left-[-2.5rem];

        &::before {
          content: url("data:image/svg+xml,%3Csvg width='16' height='25' viewBox='0 0 16 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.4531 0.93225L16 3.2352L5.12566 12.8263L16 22.6578L13.4212 24.9323L-5.30409e-07 12.7979L13.4531 0.93225Z' fill='white' fill-opacity='0.4'/%3E%3C/svg%3E%0A");
        }
      }

      &.slick-next {
        @apply right-[-1.375rem] md:right-[-2.5rem];

        &::before {
          content: url("data:image/svg+xml,%3Csvg width='16' height='25' viewBox='0 0 16 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5469 24.9323L5.26621e-09 22.6293L10.8743 13.0382L8.54253e-07 3.20675L2.57876 0.93225L16 13.0666L2.5469 24.9323Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
        }
      }
    }

    @media screen and (min-width: 992px) {
      margin-bottom: 5rem !important;
    }
  }

  .full-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    img {
      @apply w-full object-cover;
    }
  }

  .rounded-0 {
    border-radius: 0 !important;

    * {
      border-radius: 0 !important;
    }
  }

  // Visibilidade
  .d-none {
    display: none !important;
  }
  .d-block {
    display: block !important;
  }
  .d-flex {
    display: flex !important;
  }

  @media (min-width: 992px) {
    .d-lg-none {
      display: none !important;
    }
    .d-lg-block {
      display: block !important;
    }
    .d-lg-flex {
      display: flex !important;
    }
  }

  @media (max-width: 991px) {
    .d-mobile-none {
      display: none !important;
    }
    .d-mobile-block {
      display: block !important;
    }
    .d-mobile-flex {
      display: flex !important;
    }
  }

  // Configurações
  $steps: 26;
  $step-size: 0.25rem;

  // Margins
  @for $i from 1 through $steps {
    .margin-#{$i} {
      margin: $i * $step-size !important;
    }
    .margin-t-#{$i} {
      margin-top: $i * $step-size !important;
    }
    .margin-b-#{$i} {
      margin-bottom: $i * $step-size !important;
    }
    .margin-l-#{$i} {
      margin-left: $i * $step-size !important;
    }
    .margin-r-#{$i} {
      margin-right: $i * $step-size !important;
    }
    .margin-x-#{$i} {
      margin-left: $i * $step-size !important;
      margin-right: $i * $step-size !important;
    }
    .margin-y-#{$i} {
      margin-top: $i * $step-size !important;
      margin-bottom: $i * $step-size !important;
    }

    @media (min-width: 992px) {
      .margin--lg-#{$i} {
        margin: $i * $step-size !important;
      }
      .margin-t-lg-#{$i} {
        margin-top: $i * $step-size !important;
      }
      .margin-b-lg-#{$i} {
        margin-bottom: $i * $step-size !important;
      }
      .margin-l-lg-#{$i} {
        margin-left: $i * $step-size !important;
      }
      .margin-r-lg-#{$i} {
        margin-right: $i * $step-size !important;
      }
      .margin-x-lg-#{$i} {
        margin-left: $i * $step-size !important;
        margin-right: $i * $step-size !important;
      }
      .margin-y-lg-#{$i} {
        margin-top: $i * $step-size !important;
        margin-bottom: $i * $step-size !important;
      }
    }
  }

  // Paddings
  @for $i from 1 through $steps {
    .padding-#{$i} {
      padding: $i * $step-size !important;
    }
    .padding-t-#{$i} {
      padding-top: $i * $step-size !important;
    }
    .padding-b-#{$i} {
      padding-bottom: $i * $step-size !important;
    }
    .padding-l-#{$i} {
      padding-left: $i * $step-size !important;
    }
    .padding-r-#{$i} {
      padding-right: $i * $step-size !important;
    }
    .padding-x-#{$i} {
      padding-left: $i * $step-size !important;
      padding-right: $i * $step-size !important;
    }
    .padding-y-#{$i} {
      padding-top: $i * $step-size !important;
      padding-bottom: $i * $step-size !important;
    }

    @media (min-width: 992px) {
      .padding-lg-#{$i} {
        padding: $i * $step-size !important;
      }
      .padding-t-lg-#{$i} {
        padding-top: $i * $step-size !important;
      }
      .padding-b-lg-#{$i} {
        padding-bottom: $i * $step-size !important;
      }
      .padding-l-lg-#{$i} {
        padding-left: $i * $step-size !important;
      }
      .padding-r-lg-#{$i} {
        padding-right: $i * $step-size !important;
      }
      .padding-x-lg-#{$i} {
        padding-left: $i * $step-size !important;
        padding-right: $i * $step-size !important;
      }
      .padding-y-lg-#{$i} {
        padding-top: $i * $step-size !important;
        padding-bottom: $i * $step-size !important;
      }
    }
  }

  // Justify content
  .justify-content-left {
    justify-content: start !important;
  }
  .justify-content-center {
    justify-content: center !important;
  }
  .justify-content-right {
    justify-content: end !important;
  }

  @media (min-width: 992px) {
    .justify-content-lg-left {
      justify-content: start !important;
    }
    .justify-content-lg-center {
      justify-content: center !important;
    }
    .justify-content-lg-right {
      justify-content: end !important;
    }
  }
}
