// .sec-intro:has(+ .sticky-header) .container-text .text {
//   opacity: 0;
// }
:root {
  --font-intro-desktop: 1;
  --font-intro-mobile: 1;
}
body {
  &[data-page-load="false"] {
    section.sec-intro {
      margin-bottom: calc(-1 * var(--header-height));
    }
  }
}

section.sec-intro {
  position: relative;
  margin-bottom: 0;
  transition: margin-bottom 1.8s linear 0.3s;
  & + .sticky-header {
    .container-text {
      position: relative;
    }
  }
  &:has(video){
    &::after, &::before{
      display: none;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 12.5rem;
    max-width: 25%;
    height: 12.5rem;
    max-height: 100%;
    background-color: var(--primary);
    border-radius: 100%;
    background-size: 100%;
    position: absolute;
    filter: blur(31.25rem);
    z-index: 1;
    animation: effect-intro 20s ease-in-out infinite;
  }
  &:before {
    content: "";
    display: block;
    max-width: 25%;
    height: 12.5rem;
    max-height: 100%;
    border-radius: 100%;
    background-color: var(--primary);
    position: absolute;
    filter: blur(31.25rem);
    z-index: 1;
    animation: effect-intro 12s ease-in-out infinite;
  }
  > .container-text {
    height: 100svh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  video {
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
  }
  .text {
    position: fixed;
    z-index: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    height: calc(100svh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-size: calc(6.25rem * var(--font-intro-desktop));
      line-height: calc(6.25rem * var(--font-intro-desktop));
      font-weight: 800;
      @media (max-width: 768px) {
        font-size: calc(2.75rem * var(--font-intro-mobile));
        line-height: calc(2.75rem * var(--font-intro-mobile));
      }
    }
    .animated-letter {
      opacity: 0;
      visibility: hidden;
      display: inline-block;
    }
    .text-animate {
      min-height: 6.875rem;
      display: block;
      span {
        color: var(--primary);
        position: relative;
        min-height: calc(6.25rem * var(--font-intro-desktop));
        @media (max-width: 768px) {
          min-height: calc(2.75rem * var(--font-intro-mobile));
        }
        &:after {
          content: "|";
          display: inline-block;
          font-size: calc(6.25rem * var(--font-intro-desktop));
          margin-left: 0.625rem;
          animation: write 2s infinite;
          @media (max-width: 768px) {
            font-size: calc(2.75rem * var(--font-intro-mobile));
            line-height: calc(2.75rem * var(--font-intro-mobile));
          }
        }
      }
    }
  }

  @media screen and (min-width: 48rem) {
    &:before {
      width: 100rem;
      height: 100rem;
      left: -36%;
    }

    &:after {
      width: 74.875rem;
      height: 74.875rem;
      right: -36%;
    }
  }
}

@keyframes write {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes effect-intro {
  0% {
    top: -60%;
  }
  50% {
    top: 100%;
  }
  55% {
    top: 95%;
  }
  60% {
    top: 100%;
  }
  100% {
    top: -60%;
  }
}
