.float-social {
  .button-float-social {
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.3125rem 0.9375rem;
    svg {
      stroke-width: 0.1875rem;
      stroke: var(--gray-200);
    }
  }
  .button-float-social + div {
    button {
      border: none !important;
      background: var(--gray-700);
      &:hover {
        background: var(--primary);
        svg,
        svg * {
          fill: var(--gray-700);
        }
      }
    }
  }
}
