.sec-bg-home {
  background: var(--gradient-primary-d);
}

.sec-call {
  @media screen and (max-width: 768px) {
    > div {
      .sec-call-text {
        z-index: 10;
      }

      .sec-call-image {
        position: sticky;
        top: 0;
        width: 100vw;
        margin: 0 -1.5rem;
      }
    }
  }
}

.sec-recommendations {
  @media screen and (max-width: 768px) {
    .card-recommendations {
      &:last-child {
        margin-right: 1.5rem;
      }
    }
  }
}

.sec-projects {
  @media screen and (max-width: 767px) {
    height: inherit !important;

    .content-text {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 9;
      overflow: hidden;
      display: -webkit-box;
    }

    .project-card-container {
      height: calc(85vh - 3.75rem);
    }
  }
}
