body,
body * {
  cursor: none !important;
}
.custom-cursor {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  // mix-blend-mode: difference;
  transition:
    opacity 0.2s ease,
    transform 0.1s ease;
  color: var(--primary);

  @media (max-width: 768px) {
    display: none;
  }
  &.scrolling {
    opacity: 0.5;
  }

  &.cursor-default {
    background-image: url("/images/cursors/cursor-default.svg");
    width: 1.8rem;
    height: 1.8rem;
  }

  &.cursor-link {
    background-image: url("/images/cursors/cursor-link.svg");
    width: 3.6rem;
    height: 3.6rem;
  }

  &.cursor-expand {
    background-image: url("/images/cursors/cursor-expand.svg");
    width: 3.6rem;
    height: 3.6rem;
  }

  &.cursor-scroll {
    background-image: url("/images/cursors/cursor-scroll.svg");
    width: 3.6rem;
    height: 3.6rem;
  }
}

body.dark {
  .custom-cursor {
    color: var(--primary);

    &.cursor-default {
      background-image: url("/images/cursors/cursor-default-dark.svg");
    }

    &.cursor-link {
      background-image: url("/images/cursors/cursor-link-dark.svg");
    }

    &.cursor-expand {
      background-image: url("/images/cursors/cursor-expand-dark.svg");
    }

    &.cursor-scroll {
      background-image: url("/images/cursors/cursor-scroll-dark.svg");
    }
  }
}
