.sec-tecnologias {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8rem;
  @media (max-width: 48rem) {
    row-gap: 5rem;
  }
  .accordion {
    &:not(.open), &:not(.sec-visible){
      .progress-bar .progress-bar-percent {
        width: 0 !important;
        transition: width 0.5s ease-out 0.5s;
      }
    }
    .progress-bar .progress-bar-percent {
      transition: width 0.5s ease-out 0.5s;
    }
    .accordion-body {
      .accordion-content {
        .tec-icon {
          img {
            max-width: 3.75rem;
          }
        }
      }
      .progress-bar {
        border-radius: 5rem;
        &-percent {
          background: var(--gradient-primary-b);
          border-radius: 5rem;
          height: 0.75rem;
          transition: width 1.5s ease-in;
          transition-delay: 0.2s;
          @media (max-width: 48rem) {
            height: 0.625rem;
          }
        }
      }
    }
  }
}
