.accordion {
  .overflow-hidden {
    opacity: 0;
    transition: opacity 0.2s linear;
    //height: auto !important;
  }
  &.open {
    .overflow-hidden {
      opacity: 1;
      transition: opacity 0.4s linear;
    }
  }
  .accordion-header {
    button {
      span.ml-4 {
        display: none !important;
      }
    }
  }
}
